{
  "extends": ["airbnb/base", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": 0,
    "indent": [ "error", 2, { "SwitchCase": 1 } ],
    "max-len": [ 2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "comma-dangle": ["error", "always-multiline", {
        "functions": "ignore"
    }],
    "no-use-before-define": [ "error", "nofunc" ],
    "react/jsx-uses-vars": 2,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "class-methods-use-this": 0
  }
}