@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
/* @import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i'); */
/* @import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i'); */
/* ⇡ ⇡ ⇡ not good on Window ⇡ ⇡ ⇡  */

html, body {
  height: 100%;
  font-size: 100%;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* body {
  display: flex;
  flex-direction: column;
  height: 100vh;  Avoid the IE 10-11 `min-height` bug.
} */
