*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 1` */
}

.addon-notes-container {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  /* display: flex;
  flex: 1 1 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.addon-notes-container h1,
.addon-notes-container h2,
.addon-notes-container h3,
.addon-notes-container h4,
.addon-notes-container h5,
.addon-notes-container h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.addon-notes-container h1 {
  font-size: 32px;
  font-weight: 600;
}

.addon-notes-container h2 {
  font-size: 24px;
  font-weight: 600;
}

.addon-notes-container h3 {
  font-size: 20px;
  font-weight: 600;
}

.addon-notes-container h4 {
  font-size: 16px;
  font-weight: 600;
}

.addon-notes-container h5 {
  font-size: 14px;
  font-weight: 600;
}

.addon-notes-container h6 {
  font-size: 12px;
  font-weight: 600;
}

.addon-notes-container p {
  margin-top: 0;
  margin-bottom: 10px;
}

.addon-notes-container h1,
.addon-notes-container h2,
.addon-notes-container h3,
.addon-notes-container h4,
.addon-notes-container h5,
.addon-notes-container h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.addon-notes-container h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.addon-notes-container code {
  display: block;
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead th,
table tbody td {
  border: solid 1px #e0e0e0;
  padding: 14px;
  font-size: 14px;
  vertical-align: top;
}
table tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

ul {
  list-style: none;
  padding-left: 10px;
}